.App {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.Sidebar {
  background-color: #1a3349;
  height: 100%;
}

.SidebarButton {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  cursor: pointer;
}

.SidebarButton:hover {
  background-color: rgb(223, 245, 113);
  color: black;
}
.Dashboard {
  width: 100%;
  background-color: #f3f2f2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  display: flex;
  padding: 1em;
  height: 33%;
}

.Controls {
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 40px -6px #000000;
  box-shadow: 5px 5px 40px -6px #c2c2c2;
}

.Form {
  display: flex;
  flex-direction: column;
}

.FormRow {
  display: flex;
  padding: 0.5em;
  align-items: center;
  max-width: 600px;
}

.FormLabel {
  flex: 1;
}

.FormInput {
  flex: 5;
  padding: 0.5em;
}

.Error {
  padding-top: 1em;
  align-self: center;
}

.VendorData {
  display: flex;
  border: none;
  flex-direction: column;
  flex: 1;

  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 40px -6px #000000;
  box-shadow: 5px 5px 40px -6px #c2c2c2;
  overflow-y: scroll;
}

.VendorData::-webkit-scrollbar {
  display: none;
}

tr:nth-child(even) {
  background: rgb(235, 235, 235);
}
tr:nth-child(odd) {
  background: #fff;
}

tr:hover {
  background-color: rgb(209, 240, 199);
  cursor: pointer;
}

.VendorTableCenter {
  text-align: center;
}

.VendorTableBest {
  background-color: rgb(141, 196, 86) !important;
}

.VendorTable {
  display: flex;
  align-self: center;
  flex: 1;
}

.VendorTableHeader > th {
  padding: 0.3em;
  position: sticky;
  top: 0;
  background-color: white;
}

.BestVendorDataWrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 40px -6px #000000;
  box-shadow: 5px 5px 40px -6px #c2c2c2;
}

.BestVendorData {
  flex: 1;
  flex-direction: row;
  padding: 1em;
  display: flex;
}

.Chart {
  flex: 1;
}

.BestVendorDataBox {
  flex-direction: column;
  display: flex;
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 40px -6px #000000;
  box-shadow: 5px 5px 40px -6px #c2c2c2;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}
